<div class="card articleInfo">
    <img [src]="urlImg" [alt]="textAltImg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title" [ngStyle]="{ color: getColor() }">
            {{ articleTitle | uppercase }}
            <span [hidden]="dispo">- Indisponible</span>
        </h5>
        <h6 class="card-title">{{ articlePrice }} $</h6>
        <p class="card-text">{{ description }}</p>
        <a routerLink="/details/{{ idArticle }}" class="btn">=> voir l'article : {{ idArticle }}</a>
        <div class="mt-2">
            <button
                (click)="onLike()"
                [ngClass]="{
                    'show': like === true,
                    'hidden': like === false
                }"
                type="button"
            >J'aime</button>
            <button
                class="noLike"
                (click)="onLike()"
                [ngClass]="{
                    'show': like === false,
                    'hidden': like === true
                }"
                type="button"
            >Je n'aime pas</button>
        </div>
        <p>Nombre de J'aime : {{ totalNbrLike }}</p>
        <input type="text" placeholder="Ecris ton commentaire" class="form-control mb-2" [(ngModel)]="comment">
        <p>COMMENTAIRE : {{ comment }}</p>
    </div>
</div>