<!-- contenu -->
<div class="container">
  @if (message) {
    <div id="alertMsg">
      <p>{{ message }}</p>
    </div>
  }

  <div id="home">
    @for (element of listArticles; track element.id) {
      <app-article
        [articleTitle]="element.articleTitle"
        [articlePrice]="element.articlePrice"
        [description]="element.description"
        [urlImg]="element.urlImg"
        [textAltImg]="element.textAltImg"
        [dispo]="element.dispo"
        [idArticle]="element.id"
        (info)="onDisplay($event)">
      </app-article>
    }
  </div>
</div>