#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
}

#alertMsg {
    text-align: center;
    padding-top: 20px;
    color: green;
    font-size: 1.2rem;
}